# Data Manipulation
pandas
numpy
scikit-learn
matplotlib
pm4py
seaborn
fastapi
uvicorn
pydantic

# Deep Learning (The heavy lifter)
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

# Development
jupyter
notebook
tqdm
